
<h1>Task Detail</h1>
<table>
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Category</th>
      <th>Is Done</th>
      <th>Customize</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @task.name %></td>
      <td><%= @task.category.name %></td>
      <td><%= @task.is_completed? ? 'Yes' : 'No' %></td>
      <td style="display: flex; justify-content: space-between;">
        <%= link_to 'Edit', edit_task_path(@task),  style: "background-color: #0080FF; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;" %>
        <%= link_to 'Back to Tasks', tasks_path, style: "background-color: #0080FF; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;" %>
        <%= button_to 'Delete', @category, method: :delete,  style: "background-color: red; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;" %>
      </td>
    </tr>
  </tbody>
</table>

